@model Silicon.Models.BlogModel.PeliculaInicioModel


@{
    ViewBag.Title = "blog";
    ViewBag.ActiveItem = "landing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section styles{


    <link rel="stylesheet" media="screen" href="~/assets/vendor/boxicons/css/boxicons.min.css">
    <link rel="stylesheet" media="screen" href="~/assets/vendor/swiper/swiper-bundle.min.css">

}
<header class="header navbar navbar-expand-lg bg-light navbar-sticky">
    <div class="container px-3">
        <a href="/" class="navbar-brand pe-3">
            <img src="~/assets/img/logooo.png" width="47" alt="Silicon">
            ¡Alerta De Spoiler!
        </a>
        <div id="navbarNav" class="offcanvas offcanvas-end">
            <div class="offcanvas-header border-bottom">
                <h5 class="offcanvas-title">Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                @Html.Partial("~/Views/Shared/header.cshtml")
            </div>

        </div>
        <div class="form-check form-switch mode-switch pe-lg-1 ms-auto me-4" data-bs-toggle="mode">
            <input type="checkbox" class="form-check-input" id="theme-mode">
            <label class="form-check-label d-none d-sm-block" for="theme-mode">Light</label>
            <label class="form-check-label d-none d-sm-block" for="theme-mode">Dark</label>
        </div>
        <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</header>

<section class="position-relative jarallax pb-xl-3" data-jarallax data-speed="0.4" data-bs-theme="dark">

    <!-- Parallax img -->
    <div class="jarallax-img bg-dark opacity-70" style="background-image: url('/assets/img/blog/single/Wicked.jpeg');"></div>

    <!-- Overlay bg -->
    <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-70 zindex-1"></span>

    <!-- Overlay content -->
    <div class="container position-relative pb-5 zindex-5">

        <!-- Breadcrumb -->
        <nav class="py-4" aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 py-3">
                <li class="breadcrumb-item">
                    <a href="/"><i class="bx bx-home-alt fs-lg me-1"></i>Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Películas</li>
            </ol>
        </nav>

        <div class="row">
            <!-- Sección de Película -->
            <div class="col-lg-6 col-md-7 pb-3 pb-md-0 mb-4 mb-md-5">
                <div class="mb-3 fs-lg text-light">
                    <img src="~/assets/img/blog/flame.svg" width="24" alt="Flame icon" class="mt-n1 me-1">
                    ¡Recomendaciones!
                </div>
                <h1 class="display-5 pb-md-3">@Model.pelicula.name</h1>
                <div class="d-flex flex-wrap mb-md-5 mb-4 pb-md-2 text-white">
                    <div class="border-end border-light h-100 mb-2 pe-3 me-3">
                        <img src="@Model.pelicula.URL" alt="@Model.pelicula.URL" class="img-fluid" />
                    </div>
                </div>
            </div>



            <div class="col-lg-4 offset-lg-2 col-md-5">
                <div class="swiper overflow-hidden w-100 ms-n2 ms-md-0 pe-3 pe-sm-4" style="max-height: 405px;" data-swiper-options='{
                 "direction": "vertical",
                 "slidesPerView": "auto",
                 "freeMode": true,
                 "scrollbar": {
                 "el": ".swiper-scrollbar"
                 },
                 "mousewheel": true
                 }'>
                    <div class="swiper-wrapper pe-md-2">
                        <div class="swiper-slide h-auto px-2">
                            <div class="row row-cols-md-1 row-cols-sm-2 row-cols-1 g-md-4 g-3">

                                @foreach (var comment in Model.comentario)
                                {
                                    <!-- Article -->
                                    <div class="col">
                                        <article class="card h-100 border-0 shadow-sm card-hover-primary">
                                            <div class="card-body pb-0">
                                                <div class="d-flex align-items-center justify-content-between mb-3">
                                                 
                                                    <a href="#" class="badge fs-sm text-nav bg-white text-decoration-none position-relative zindex-2">
                                                        @comment.rating?.ToString("0.0") ?? "Sin rating"
                                                    </a>
                                               
                                                    <span class="fs-sm text-muted">
                                                        @comment.creationDate?.ToString("MMMM dd, yyyy")"
                                                    </span>
                                                </div>
                                             
                                                <h3 class="h5 mb-0">
                                                    @comment.comentario
                                                </h3>
                                            </div>
                                        </article>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>

            <!-- Articles slider -->
            <!--<div class="col-lg-4 offset-lg-2 col-md-5">
                <div class="swiper overflow-hidden w-100 ms-n2 ms-md-0 pe-3 pe-sm-4" style="max-height: 405px;" data-swiper-options='{
                "direction": "vertical",
                "slidesPerView": "auto",
                "freeMode": true,
                "scrollbar": {
                  "el": ".swiper-scrollbar"
                },
                "mousewheel": true
              }'>
                    <div class="swiper-wrapper pe-md-2">
                        <div class="swiper-slide h-auto px-2">

                            <div class="row row-cols-md-1 row-cols-sm-2 row-cols-1 g-md-4 g-3">-->

                                <!-- Article -->
                                <!--<div class="col">
                                    <article class="card h-100 border-0 shadow-sm card-hover-primary">
                                    </article>
                                </div>-->

                                <!-- Article -->
                                <!--<div class="col">
                                    <article class="card h-100 border-0 shadow-sm card-hover-primary">
                                        <div class="card-body pb-0">
                                            <div class="d-flex align-items-center justify-content-between mb-3">
                                                <a href="#" class="badge fs-sm text-nav bg-white text-decoration-none position-relative zindex-2">Acción</a>
                                                <span class="fs-sm text-muted">May 24, 2023</span>
                                            </div>
                                            <h3 class="h5 mb-0">
                                                ¡La pareja más explosiva del cómic está de vuelta! Deadpool y Wolverine: acción, humor y caos en su máxima expresión.
                                            </h3>
                                        </div>
                                    </article>
                                </div>-->

                                <!-- Article -->
                                <!--<div class="col">
                                    <article class="card h-100 border-0 shadow-sm card-hover-primary">
                                        <div class="card-body pb-0">
                                            <div class="d-flex align-items-center justify-content-between mb-3">
                                                <a href="#" class="badge fs-sm text-nav bg-white text-decoration-none position-relative zindex-2">Drama</a>
                                                <span class="fs-sm text-muted">May 25, 2023</span>
                                            </div>
                                            <h3 class="h5 mb-0">
                                                Gladiador: La lucha por la justicia y la venganza se desatan en la antigua Roma. Un hombre, un imperio, una batalla épica.
                                            </h3>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>-->
        </div>
    </div>
</section>

<!-- Latest posts -->
<section class="container mb-5 pt-5 pb-lg-5">
    <h2 class="h1 mb-4 pt-lg-2 pb-lg-3 py-1 text-center">Géneros</h2>

    <!-- Category tabs -->
    <ul class="nav nav-tabs justify-content-center mb-lg-5 mb-4 pb-lg-2">
        <li class="nav-item">
            <a href="#" class="nav-link active" data-category="all">Todos los géneros</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" data-category="terror">Terror</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" data-category="comedia">Comedia</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" data-category="romance">Romance</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" data-category="musical">Musical</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" data-category="accion">Acción</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" data-category="aventura">Aventura</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" data-category="drama">Drama</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" data-category="fantasia">Fantasía</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" data-category="ciencia_ficcion">Ciencia Ficción</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" data-category="suspenso">Suspenso</a>
        </li>
    </ul>


    <!-- Artículos del blog -->
    <div class="pb-3" id="blogArticles">
        <!-- Artículo -->
        <article class="card border-0 shadow-sm overflow-hidden mb-4" data-category="terror">
            <div class="row g-0">
                <div class="col-sm-4 position-relative bg-repeat-0 bg-size-cover" style="background-image: url('/assets/img/blog/01.jpg'); min-height: 15rem;">

                    <a href="@Url.Action("Details", "Movies", new { @*id = ModelBlog.MovieId*@ })" class="position-absolute top-0 start-0 w-100 h-100" aria-label="Read more"></a>
                </div>
                <div class="col-sm-8">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-3">
                            <a href="#" class="badge fs-sm text-nav bg-secondary text-decoration-none">Terror</a>
                            <span class="fs-sm text-muted border-start ps-3 ms-3">Sep 3, 2023</span>
                        </div>
                        <h3 class="h4">
                            <a href="@Url.Action("Details", "Movies", new { @*id = ModelBlog.MovieId*@ })">
                                5 Bad Landing Page Examples &amp; How We Would Fix Them
                            </a>
                        </h3>
                        <p>Tellus sagittis dolor pellentesque vel porttitor magna aliquet arcu. Interdum risus mauris pulvinar et vel. Morbi tellus, scelerisque vel metus.</p>
                        <hr class="my-4">
                    </div>
                </div>
            </div>
        </article>

        <!-- Artículo -->
        <article class="card border-0 shadow-sm overflow-hidden mb-4" data-category="comedia">
            <div class="row g-0">
                <div class="col-sm-4 position-relative bg-repeat-0 bg-size-cover" style="background-image: url('/assets/img/blog/06.jpg'); min-height: 15rem;">
                    <a href="/blog/blogsingle" class="position-absolute top-0 start-0 w-100 h-100" aria-label="Read more"></a>
                    <a href="#" class="btn btn-icon btn-light bg-white border-white btn-sm rounded-circle position-absolute top-0 end-0 zindex-5 me-3 mt-3" data-bs-toggle="tooltip" data-bs-placement="left" title="Read later" aria-label="Read later">
                        <i class="bx bx-bookmark"></i>
                    </a>
                </div>
                <div class="col-sm-8">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-3">
                            <a href="#" class="badge fs-sm text-nav bg-secondary text-decoration-none">Comedia</a>
                            <span class="fs-sm text-muted border-start ps-3 ms-3">Sep 10, 2023</span>
                        </div>
                        <h3 class="h4">
                            <a href="/blog/blogsingle">How Agile is Your Forecasting Process?</a>
                        </h3>
                        <p>Nulla fringilla arcu justo augue fringilla in nunc volutpat sit. Dui diam, faucibus vitae ultricies vitae mollis nunc elementum. Et, habitasse porta.</p>
                        <hr class="my-4">
                    </div>
                </div>
            </div>
        </article>

        <!-- Más artículos -->
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const categoryLinks = document.querySelectorAll('.nav-link');
            const articles = document.querySelectorAll('article[data-category]');

            categoryLinks.forEach(link => {
                link.addEventListener('click', function (event) {
                    event.preventDefault();

                    const selectedCategory = event.target.getAttribute('data-category');

                    articles.forEach(article => {
                        const articleCategory = article.getAttribute('data-category');

                        if (selectedCategory === 'all' || selectedCategory === articleCategory) {
                            article.style.display = 'block';
                        } else {
                            article.style.display = 'none';
                        }
                    });

                    categoryLinks.forEach(link => link.classList.remove('active'));
                    event.target.classList.add('active');
                });
            });
        });
    </script>

    @*<a href="#" class="btn btn-lg btn-secondary w-100">
            Agregar Reseña
        </a>*@
</section>




@section scripts{

    <script src="~/assets/vendor/jarallax/dist/jarallax.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
}

