@using Silicon.Models.Entidades
@model Silicon.Models.BlogModel
@{
    ViewBag.Title = "podcast";
    ViewBag.ActiveItem = "pages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
}

<header class="header navbar navbar-expand-lg bg-light navbar-sticky">
    <div class="container px-3">
        <a href="/" class="navbar-brand pe-3">
            <img src="~/assets/img/logooo.png" width="47" alt="Silicon">
            ¡Alerta De Spoiler!
        </a>
        <div id="navbarNav" class="offcanvas offcanvas-end">
            <div class="offcanvas-header border-bottom">
                <h5 class="offcanvas-title">Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">

                @Html.Partial("~/Views/Shared/header.cshtml")

            </div>
            <div class="offcanvas-header border-top">
                <a href="#!" class="btn btn-primary w-100" target="_blank" rel="noopener">
                    <i class="bx bx-cart fs-4 lh-1 me-1"></i>
                    &nbsp;Buy now
                </a>
            </div>
        </div>
        <div class="form-check form-switch mode-switch pe-lg-1 ms-auto me-4" data-bs-toggle="mode">
            <input type="checkbox" class="form-check-input" id="theme-mode">
            <label class="form-check-label d-none d-sm-block" for="theme-mode">Light</label>
            <label class="form-check-label d-none d-sm-block" for="theme-mode">Dark</label>
        </div>
        <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="#!" class="btn btn-primary btn-sm fs-sm rounded d-none d-lg-inline-flex" target="_blank"
           rel="noopener">
            <i class="bx bx-cart fs-5 lh-1 me-1"></i>
            &nbsp;Buy now
        </a>
    </div>
</header>

<!-- Breadcrumb -->
<nav class="container pt-4 mt-lg-3" aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item">
            <a href="/"><i class="bx bx-home-alt fs-lg me-1"></i>Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">@Model.PeliculaEspecifica.Peliculas.name</li>
    </ol>
</nav>

@if (!ViewData.ModelState.IsValid)
{
	<div class="alert alert-danger validation-summary">
		@Html.ValidationSummary(false, "Se encontraron los siguientes errores:")
	</div>
}

@if (TempData["SuccessMessage"] != null)
{
	<div class="alert alert-success" role="alert">
		@TempData["SuccessMessage"]
	</div>
}
<!-- Post title + Meta  -->
<section class="container mt-4 mb-5 pt-2 pb-lg-5">
    <div class="row gy-4">
        <div class="col-lg-7 col-md-6">
            <img src="@Model.PeliculaEspecifica.Peliculas.URL" alt="Cover" class="rounded-3">
        </div>
        <div class="col-lg-5 col-md-6">
            <div class="ms-xl-5 ms-lg-4 ps-xxl-34">
                <h3 class="h6 mb-2">
                    <i class='bx bx-camera-movie'></i>
                    Pel&iacute;cula
                </h3>
                <h1 class="display-5 pb-md-3">@Model.PeliculaEspecifica.Peliculas.name</h1>
                <div class="d-flex align-items-center flex-wrap text-muted mb-lg-5 mb-md-4 mb-3">
                    <div class="fs-xs border-end pe-3 me-3 mb-2">
                        <span class="badge bg-faded-primary text-primary fs-base">@Model.PeliculaEspecifica.Peliculas.generos</span>
                    </div>
                    <div class="fs-sm border-end pe-3 me-3 mb-2">@Model.PeliculaEspecifica.Peliculas.duracion min</div>
                </div>
                <p class="mb-0 fs-lg">@Model.PeliculaEspecifica.Peliculas.synopsis</p>
            </div>
        </div>
    </div>
</section>


<!-- Post content -->
<section class="container mb-5 pb-lg-5">
        <!-- Rating -->
        <div class="d-flex flex-column flex-sm-row align-items-start align-items-sm-center">
            <div class="card border-0 bg-secondary pt-5 pb-1 px-1 pe-sm-3 py-sm-3">
                <div class="card-body">
                    <h6 class="fs-lg mb-0">Director:</h6>
                    <p class="text-body fs-lg mb-3">@Model.PeliculaEspecifica.Peliculas.director</p>
                    <h6 class="fs-lg mb-0">Rating:</h6>
                    <div class="card-body border-0 text-nowrap">
                        @for (int i = 0; i < Model.PeliculaEspecifica.Peliculas.rating; i++)
                        {
                            <i class="bx bxs-star text-warning"></i>
                        }
                    </div>
                </div>
            </div>
        </div>
</section>

<!-- Post comments -->
<section class="container mb-4 pb-lg-3">
    <h2 class="h1">@Model.PeliculaEspecifica.comentario.Count Comentarios</h2>
    <div class="row">
        <!-- Comments -->
        <div class="col-lg-9">
            <hr class="my-2">
            <!-- Comments -->
            @foreach (var comentario in Model.PeliculaEspecifica.comentario ?? new List<Comentario>())
            {
                <div class="position-relative ps-4 mt-4">
                    <span class="position-absolute top-0 start-0 w-1 h-100 bg-primary"></span>
                    <div class="align-items-center justify-content-between ps-3 pb-2 mb-1">
                        <div class="d-flex align-items-center me-3">
                            <img src="~/assets/img/avatar/05.jpg" class="rounded-circle" width="48" alt="Avatar">
                            <div class="ps-3">
                                <h6 class="fw-semibold mb-0">@if (!String.IsNullOrEmpty(comentario.nickname))
                                                             {
                                                                 @comentario.nickname
                                                             }
                                                             else
                                                             {
                                                                 <span>Anonymous</span> 
                                                             }</h6>
                                <p>@comentario.nickname</p>
                                <p>@comentario.comentario</p>
                                <span class="fs-sm text-muted">@comentario.creationDate</span>
                            </div>
                            <div class="card-footer border-0 text-nowrap pt-0">
                                @for (int i = 0; i < comentario.rating; i++)
                                {
                                    <i class="bx bxs-star text-warning"></i>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <hr class="my-2">
    </div>
</section>

<!-- Comments -->

<!-- Comment form + Subscription -->
<section class="container mb-4 pb-2 mb-md-5 pb-lg-5">
    <div class="row gy-5">

        <!-- Comment form -->
        <div class="col-lg-9">
            <div class="card p-md-5 p-4 border-0 bg-secondary">
                <div class="card-body w-100 mx-auto px-0" style="max-width: 746px;">
                    <h2 class="mb-4 pb-3">Deja un comentario</h2>
                    @using (Html.BeginForm("podcast", "Blog", FormMethod.Post, new { id = "loginForm" }))
                    {
                        
                    <div class="col-12">
                        @Html.LabelFor(model => model.PeliculaEspecifica.comentario, "Comentario", new { @class = "form-label" })
                        @Html.TextAreaFor(model => model.PeliculaEspecifica.comentario, 5, 50, new { @class = "form-control", placeholder = "Escribe tu comentario aquí", required = "required" })
                        @Html.ValidationMessageFor(model => model.PeliculaEspecifica.comentario, "", new { @class = "text-danger" })
                        @if (Sesion.ComprobarSesion())
                        {

                            <div class="col-12">
                                <label for="Comment" class="form-label fs-base">Comentario</label>
                                <textarea id="Comment" name="Comment" class="form-control form-control-lg" rows="3" placeholder="Escribe tu comentario aquí..." required></textarea>
                                <span asp-validation-for="Comment" class="text-danger"></span>
                            </div>

                            <div class="col-12">
                                <button type="submit" class="btn btn-lg btn-primary w-sm-auto w-100 mt-2">Publicar Comentario</button>
                            </div>
                        }
                        else
                        {
                            <div class="col-12 mb-3">
                                <button type="button" id="btnMostrarLogin" class="btn btn-lg btn-primary w-sm-auto w-100 mt-2">
                                    Publicar Comentario
                                </button>
                            </div>

                            <div id="loginAlert" class="alert alert-danger d-none">
                                <strong>Debes iniciar sesion para comentar.</strong>
                                <a href="/Account/signin" class="btn btn-sm btn-primary ms-2">Iniciar sesion</a>
                            </div>

                            <script>
                            document.getElementById("btnMostrarLogin").addEventListener("click", function () {
                             const loginAlert = document.getElementById("loginAlert");
                             loginAlert.classList.remove("d-none");
                            });
                            </script>
                        }
                    </div>
                    <div class="col-12">
                        @*<button type="submit" class="btn btn-lg btn-primary w-sm-auto w-100 mt-2">Postear</button>*@
                    </div>
                    }
                </div>
            </div>
        </div>

        <!-- Subscription form + Sharing -->
        <div class="col-lg-3 position-relative">
            <div class="sticky-top ms-xl-5 ms-lg-4 ps-xxl-4" style="top: 70px !important;">
                <div class="row gy-lg-5 gy-4 justify-content-center text-lg-start text-center">


                    @*@if (Sesion.ComprobarSesion())
        {
            <div class="col-12 mb-3">
                <button type="button" id="btnMostrarLogin"
                        class="btn btn-lg btn-primary w-sm-auto w-100 mt-2">
                    Publicar Comentario
                </button>
            </div>

            <div id="loginAlert" class="alert alert-danger d-none">
                <strong>Debes iniciar sesión para comentar.</strong>
                <a href="/Account/signin" class="btn btn-sm btn-primary ms-2">Iniciar sesión</a>
            </div>
        }
        <script>
            document.getElementById("btnMostrarLogin").addEventListener("click", function () {
                const loginAlert = document.getElementById("loginAlert");
                loginAlert.classList.remove("d-none");
            });
        </script>*@
                    <!-- Comment form -->
                    @*<div class="col-lg-9">
                        <div class="card p-md-5 p-4 border-0 bg-secondary">
                            <div class="card-body w-100 mx-auto px-0" style="max-width: 746px;">
                            
                                <h2 class="mb-4 pb-3">Deja un Comentario</h2>

                                @if (Sesion.ComprobarSesion())
                                {

                                    <div class="col-12">
                                        <label for="Comment" class="form-label fs-base">Comentario</label>
                                        <textarea id="Comment" name="Comment" class="form-control form-control-lg" rows="3" placeholder="Escribe tu comentario aquí..." required></textarea>
                                        <span asp-validation-for="Comment" class="text-danger"></span>
                                    </div>

                                    <div class="col-12">
                                        <button type="submit" class="btn btn-lg btn-primary w-sm-auto w-100 mt-2">Publicar Comentario</button>
                                    </div>
                                }
                                else
                                {
                                <div class="col-12 mb-3">
                                    <button type="button" id="btnMostrarLogin" class="btn btn-lg btn-primary w-sm-auto w-100 mt-2">
                                        Publicar Comentario
                                    </button>
                                </div>

                                <div id="loginAlert" class="alert alert-danger d-none">
                                    <strong>Debes iniciar sesión para comentar.</strong>
                                    <a href="~/Views/Account/signin.cshtml" class="btn btn-sm btn-primary ms-2">Iniciar sesión</a>
                                </div>

                                <script>
                                    document.getElementById("btnMostrarLogin").addEventListener("click", function () {
                                    const loginAlert = document.getElementById("loginAlert");
                                    loginAlert.classList.remove("d-none");
                                    });
                                </script>
                                }*@
                            </div>
                        </div>
                    </div>
                </div>
        @*</div>*@


    @*</div>*@        <!-- Subscription form + Sharing -->
</section>

@section scripts{
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
}